/*******************************

   CGS1821
   Class Excercise 6
   Author: KT Chu
   Date: 5/16/2016

   File name: my_Singer.css
   Supporting files:	singer.html
   Purpose:
   To use CSS style sheet to add
   colors and styles to HTML
**************************************
*/

/********************************************
*tag:header, main, nav, footer, figure, figcaption:
* use display: block for all elements
*****************************************/


header, main, nav, footer, figure, figcaption { display: block; }

/********************************************
*  tag: header, h1,#wrapper
*   use googlefonts in header h1 and wrapper
*****************************************/
header, h1, h3, #wrapper {
 color: #0000ff;
  margin-top: 0;
  font-family: 'Libre Baskerville';
}

h2 {color: #0000ff;}

/********************************************
* tag: wrapper
* have background color of light grayish blue

*****************************************/
#wrapper {  background-color: #E6E6FA;
  width:90%;
  margin:auto;
border-radius: 2%;
}
/********************************************
* tag:location
in the all pages as header
* use google font
*****************************************/


#location{  font-family: 'Libre Baskerville';
      text-align: center;
}
/********************************************
* tag: loatright
for the image in the main of the content pages
it float right
*****************************************/

#floatright {
  margin: 10%;
  float: right;
}
/********************************************
* tag: nav ul
navigation bar
*****************************************/
nav ul{list-style-type: none;
font-size: 1.25em;
text-align: left;}
/********************************************
* tag: nav a
navigation color changes as user use the navigation bar

nav a:link {color:#006600;} is very dark lime green.

nav a:visited {color:#AA33AA;} is dark magenta

nav a:focus{ color:#CC66CC; } is moderate magenta

nav a:hover{ color:#CC66CC; } is moderate magenta

nav a:active {color:#000000;} is black

*****************************************/

nav a:link {color:#006600;}
nav a:visited {color:#AA33AA;}
nav a:focus{ color:#CC66CC; }
nav a:hover{ color:#CC66CC; }
nav a:active {color:#000000;}

/********************************************
* tag: nav a
font bold
text align to left
mp underline
*****************************************/

nav a {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    text-decoration: none;
}

/********************************************
* tag: header a  it is the   skip to content   link
color changes as user use the bar

header a:link {color:#006600;} is very dark lime green.

header a:visited {color:#AA33AA;} is dark magenta

header a:focus{ color:#CC66CC; } is moderate magenta

header a:hover{ color:#CC66CC; } is moderate magenta

*****************************************/


header a{font-size:1.0em;}
header a:link {color: #006600;}
header a:visited {color: #AA33AA;}
header a:focus {color: #CC66CC;}
header a:hover{color:#CC66CC;}

/******************************************
Create a Table
    1.  In a table, display the following information about your subject:
    2.  List five works by them and display information on them in a table.
    3.  Your table must contain the following information for each work:
      * Title
      * Date of Release / Publication
      * Your choice (comment, price, awards received, etc.)

    4.  Your table must have & use the following elements correctly.
      * Table element
      * Table head
      * Table body
      * Table foot
      * Table header
      * Table row
      * Table data


****************************************/
table { margin: auto;
    border: 5px solid #000066;
    width: 600px;
}
table, td, th { padding: 0.5em;
         border: 1px solid #000066;
         font-family: Arial, sans-serif;
         color:#cc66cc;
}
caption { font-family: Verdana, sans-serif;
          font-weight: bold;
          font-size: 1.2em;
          padding-bottom: 0.5em;
          color:  #0000FF;
}
tfoot { font-family: Verdana, sans-serif;
          font-weight: bold;
          font-size: 0.7em;
          color:  #0000FF;
}
.altrow {background-color: #eaeaea; }
footer{text-align: center;}

/********************************************
* tag: h1
top header: title page;
*****************************************/


h1 {  background-color: #191970;
    color:  #E6E6FA;
    padding: 1% 0;
    font-size: 200%;
    text-shadow: 3px 3px 5px #CCCCCC;
    text-align: center;
    border-radius: 25%;
}

/*************************************
*h2 second line of header
*page name: home, history, experience it, favorites;
* and the address line
 ************************************/

h2 {
    color:  #191970;
    font-family:  Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 1.25em;
    margin: 0 0 0 0;
}
/********************************************
* tag:h3
* the title of the paragraphs on each page
*****************************************/

h3{ text-align: center;
  font-size: 1.15em;
 }
/********************************************
* tag: flexbox_use
* the webpages is configured for size greater ****
*  this is to use the webkit &flexbox to configure website
*  into two or three columns websites
*  and to use with @media & flexbox to configure
*  webpage for tablet (1024)and mobile(768)
*****************************************/

#flexbox_use {
        width: 100%;
        display: -webkit-flex;
        display: flex;
       -webkit-flex-direction:row;
        flex-direction: row;
     }

main,aside{ padding:0 0; }
/********************************************
* use the webkit & flexbox to configure website
*to format webpage to two columns or three columns
*  and to use with @media to configure for
*  this is to use the flexbox to configure
*  website for tablet (1024)and mobile(768)
*

note:  flex and webkit-flex: should add up to 10;
****************************************/
nav {  -webkit-flex:2;
      flex:2;
}

main {
  -webkit-flex:5;
flex:5;
}

aside {
  -webkit-flex:3;
flex:3;
}

.content_His_Exp_Fav{
  -webkit-flex:8;
  flex:8;
}

dl{ margin: 0 10% 1% 5%;
}
/*************************************
* ul and li are the navigation bar
************************************/
ul{
  list-style-type: none;
  font-weight: bold;
}

nav{display:block;
margin: auto;}
li{

  font-weight: bold;
}

/********************************************
* tag: p
* the description paragraphs of webpages
****************************************/
p { color: #191970;
  text-indent: 3em;
  text-align: center;
  }
/********************************************
* tag: aside
*  The challenge ( third column )in the home page
*
****************************************/
main a{color:#006600;
  text-decoration: none;}

aside{
  float: right;}


/********************************************
* tag: aside h2
*  The header of challenge ( third column )in the home page
*
****************************************/

aside h2{
  text-align: center;
  font-size:0.90em;
  color:#cc66cc;
}


/********************************************
* tag: img
*  The images of the pages
****************************************/

img { width: 80%;
 box-shadow: 2px 1px 7px 5px #191970;
 border-radius: 20%;

}


/********************************************
* tag: footer
*  The footer color is very dark gray
****************************************/

footer {
      color: #333333;
      font-size: 100%;
      font-style: italic;
    text-align: center;
    padding: 2.5%;
}
/****************************
*  this is to use the @media to configure
*  webpages for tablet (1024)and mobile(768)
****************************************/

@media only screen and (max-width: 1024px) {
      #flexbox_use { -webkit-flex-direction: column;
        flex-direction: column;}
            body { margin: 0; padding: 1em; }
            #wrapper { width: auto;
              margin:0;}
        h1 { font-size: 200%; }
      nav li { padding: 0.5em ;
             font-size: 1em;  }
      nav ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
      }
      main {padding:1em;}
      img {width: 70%;}


     }

@media only screen and (max-width: 768px) {
       nav {-webkit-order:1;
          order:1;}
       nav ul { -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }

}



